html{
	background-color: #fcdcfc;
}
#naslov3{
	text-align: center;
	font-family: Verdana;
	color: #e89ee8;
	font-size: 20px;
}
#pocetna{
	font-family: Verdana;
	font-size: 20px;
	color: hotpink;
	position: absolute;
	top: 8px;
	right: 16px;
}
#ljubisaradovi{
	text-align: center;
}
#rad1{
	margin-right: 10px;
}
#radtekst1{
	font-family: Verdana;
	font-size: 20px;
	color: #cc62cc;
	text-align: center;
	padding: 20px;
	margin-left: 300px;
  	margin-right: 300px;
}
#rad2{
	text-align: center;
	padding-top: 50px;
}
#radtekst2{
	font-family: Verdana;
	font-size: 20px;
	color: #cc62cc;
	text-align: center;
	padding: 20px;
	margin-left: 300px;
  	margin-right: 300px;
}
#rad3{
	text-align: center;
	padding-top: 50px;
}
#radtekst3{
	font-family: Verdana;
	font-size: 20px;
	color: #cc62cc;
	text-align: center;
	padding: 20px;
	margin-left: 300px;
  	margin-right: 300px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    background-color: #c26dcf;
    padding:10px;
    border-radius: 10px;
    border: 1px solid white;
}

a.button:hover {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    background-color: #d788e3;
    padding:10px;
    border-radius: 10px;
        transition: transform 0.3s ease;
  transform: translateY(5px);
}
